div .home__container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1250px) {
  div .home__container {
    padding: 0 3rem;
  }
}
div .home__container .catalog__block {
  max-width: 1135px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3rem 1fr 3rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
  margin-top: 5rem;
}
@media screen and (max-width: 1250px) {
  div .home__container .catalog__block {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media screen and (max-width: 850px) {
  div .home__container .catalog__block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 4rem;
  }
}
div .home__container .loader {
  width: 48px;
  height: 48px;
  position: relative;
  margin: 0 auto;
  border: 5px solid #FFF;
  border-bottom-color: #000000;
  border-radius: 50%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
div .home__container .blur__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 116.28vh;
  position: absolute;
  background-color: rgba(132, 132, 132, 0.4274509804);
}
@media screen and (max-width: 680px) {
  div .home__container .blur__block {
    padding: 0 3rem;
  }
}

.search__block {
  position: relative;
  margin-bottom: 2rem;
  display: flex;
  -webkit-box-align: center;
  flex-wrap: wrap;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 1rem;
  gap: 2rem;
}

.search__block button {
  font-size: 1rem;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #353535;
  color: #ffffff;
  cursor: pointer;
}