div header {
  max-width: 1135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 2rem 0;
}
@media screen and (max-width: 1250px) {
  div header {
    padding: 2rem 3rem;
  }
}
@media screen and (max-width: 550px) {
  div header {
    padding: 2rem 1rem;
  }
}
div header #logo_block a h3 {
  font-size: calc(20px + 5 * (100vw - 320px) / 1600);
  font-weight: 700;
  color: black;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
div header #content_block a h3 {
  font-size: calc(20px + 5 * (100vw - 320px) / 1600);
  font-weight: 700;
  color: black;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
div header #logo_block a h3:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
div header #icons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
div header #icons_block div {
  position: relative;
}
div header #icons_block div p {
  position: absolute;
  right: -5px;
  top: -5px;
  color: #FFF;
  background-color: rgb(255, 165, 66);
  height: 17px;
  width: 17px;
  text-align: center;
  border-radius: 50%;
  font-size: 13px;
}